.checkout {
  margin-bottom: 230px;
  .main {
    padding: 0 30px;
    max-width: 900px;
    margin: 0 auto;

    .bookedItem {
      margin: 50px 0 100px 0;
      display: flex;
      justify-content: space-between;

      .conf1 {
        background-image: url(../../../public//assets/conf1.jpeg);
      }

      .sonf2 {
        background-image: url(../../../public//assets/conf2.jpg);
      }

      .work_space {
        background-image: url(../../../public//assets/work-space.jpeg);
      }

      .conf1,
      .sonf2,
      .work_space {
        width: 35%;
        aspect-ratio: 1/1.4;
        background-size: cover;
        background-position: center;
        border-radius: 25px;
      }

      .description {
        width: 63%;
        padding: 50px;
        background-color: #fdf3f0;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          margin-bottom: 30px;
        }

        p, span {
          font-size: 20px;
          font-weight: 500;
        }

        .additions {
          margin-bottom: 15px;
          h3 {
            margin: 10px 0;
          }
          label {
            margin-right: 15px;

            input {
              margin-right: 5px;
            }
          }
        }
       

        .payment_method {
          margin: 10px 0;
          max-width: 200px;
          display: flex;
          justify-content: space-between;
          .radio_label {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            input {
              width: 50px;
            }

          }
        }
      }
    }

    .book {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .userInfo {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
      }
    }
  }
}
