.container {
  padding: 50px 30px 30px 30px;
  height: 100%;
  overflow: hidden;

  .head {
    display: flex;
    height: 50px;
    align-items: center;

    .avatar {
      width: 40px;
      height: 40px;
    }

    .info {
      margin-left: 20px;
      height: 50px;

      h3 {
        margin: 0;
      }
      .stars {
        display: flex;
        gap: 3px;
      }
    }
  }

  .text {
    margin-top: 10px;
    color: #a0a0a0;

    
  }

 
}

