.button {
    min-width: 160px;
    height: 55px;
    background-color: #e7816b;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;

    &:disabled {
        background-color: rgb(192, 186, 186);
    }
}