.pink_button {
    min-width: 160px;
    height: 55px;
    background-color: #e7816b;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;

    &:disabled {
        background-color: rgb(192, 186, 186);
        cursor: auto;
    }
}

.black_button {
    width: 160px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    align-self: flex-end;
    margin-top: 25px;
    cursor: pointer;

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &:disabled {
      background-color: #777676;
      border: #777676;
      color: #cfcfcf;
    }
  }

  .go_back {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }

    &:hover {
      opacity: 0.5;
    }
  }