.wrapper {
  overflow: scroll;
  height: 95vh;
  padding: 60px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .adjustments {

    .input_box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 15px;

      .radio_label {
        width: 49%;
        height: 56px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: row-reverse;
        border: 1px solid #cfcfcf;
        border-radius: 8px;
        justify-content: flex-end;
        align-items: center;
        letter-spacing: 1px;

        .radio {
          margin: 0 20px 0 20px;
          border: 2px solid white;
          box-shadow: 0 0 0 1px #cfcfcf;
          appearance: none;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background-color: #fff;
          transition: all ease-in 0.2s;
          cursor: pointer;

          &:hover {
            box-shadow: 0 0 0 1px #cd2c2c;
          }

          &:checked {
            background-color: #d87d4a;
          }
        }
      }
    }

    .number_of_visitors {
      margin: 15px 0 25px 0;
      width: 49%;
      height: 56px;
      border: 1px solid #cfcfcf;
      border-radius: 8px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 22px;
      }

      .plus_minus {
        cursor: pointer;
      }


    }
  }

  .cart_wrapper {
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
