.about {
  margin: 0 auto 220px;
  display: flex;
  flex-direction: column;

  .image {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../../public/assets/liberty-finanz-88.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    align-self: center;
  }
  .title {
    font-size: 35px;
    margin-top: 50px;
    color: #b58730;
  }

  .description {
    font-weight: 500;
    font-size: 22px;
    margin-top: 20px;
    letter-spacing: 1.5px;
    color: var(--text-slate);
  }

  .list_title {
    margin-top: 50px;
    font-size: 25px;
    color: #b58730;
  }

  .list {
    margin-left: 20px;
    margin-bottom: 20px;

    li {
      margin-top: 10px;
      font-size: 19px;
      letter-spacing: 1px;
    }
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    h3 {
      margin-bottom: 30px;
    }
    .manager {
      width: 380px;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      background-color: var(--secondary-color);
      padding: 20px;
      box-sizing: border-box;
      border-radius: 10px;

      .photo_box {
        width: 100%;
        height: 500px;
        .photo {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 10px;
        }
      }

      .text {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        h3 {
          color: #b58730;
          margin-bottom: 10px;
        }

        span {
          color: #898885;
          margin-bottom: 5px;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .main {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 767px) {
    .main {
      grid-template-columns: 1fr;

      .managers {
        flex-direction: column;

        &:nth-of-type(even) {
          flex-direction: column;
        }

        .photo {
          width: auto;
          max-width: 100%;
          margin-bottom: 20px;
        }

        .text {
          width: auto;
        }
      }
    }
  }
}
