/* MyCalendar.module.scss */

.myCalendarContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 15px;

  h2 {
    margin-bottom: 50px;
    text-align: center;
  }

  .picker {
    display: flex;
    margin-bottom: 30px;

    .calendar_wrapper {
      display: flex;
      flex-direction: column;

      .calendar {
        overflow: hidden;
        height: 250px;
        width: 300px;
      }
    }

    .time_wrapper {
      margin-left: 20px;
      width: 300px;
      height: 250px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3px;

      .time {
        background-color: #fff;
        border: 1px solid var(--secondary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;


        &:hover {
          transform: scale(1.05);

        }

        &:active {
          transform: scale(1.1);
          background-color: #e7816b;
          color: #fff;

        }



        &:disabled {
          background-color: #cac5c4;
          cursor: auto;

          &:active {
            color: rgba(16, 16, 16, 0.3);
          }

          &:hover {
            transform: none;
          }
        }


      }

      .notAvailable {
        background-color: rgb(242, 37, 37) !important;
      }

      .activeTime {
        background-color: #ebe8e7;
        color: #fff;
      }

      .start_end {
        background-color: #e7816b;
        color: #fff;
      }
    }
  }

  .selected {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    h3 {
      margin-bottom: 10px;
    }

    .selected_hours {
      display: flex;
    }
  }

  @media (max-width: 700px) {
    .picker {
      flex-direction: column;

      .time_wrapper {
        margin: 15px 0 0 0;
        
      }
    }
  }
}