.wrapper {
  width: 100vw;
  height: 100.2vh;
  

  .box_1 {
    display: flex;
    width: 100%;
    height: 65%;

    .main {
      width: 60%;
      height: 100%;
      padding: 0;
      position: relative;
      background-image: url(../../public/assets/liberty-finanz-88.jpg);
      background-size: cover;
      background-position: center;

      
    }

    .services {
      width: 40%;
      height: 100%;

    }
  }

  .box_2 {
    display: flex;
    height: 35%;
    overflow: hidden;

    .photo_1 {
      background-image: url(../../public/assets/liberty-finanz-74.jpg);
      background-size: cover;
      background-position: center;
      width: 30%;
      height: 100%;
    }

    .about {
      width: 40%;
      height: 100%;
      padding: 50px;

      h3 {
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 5px;
        margin-bottom: 15px;
        color: var(--primary-color)
      }

      p {
        color: #a0a0a0;
        font-size: 12px;
        font-weight: 50;
        line-height: 20px;
      }
    }

    .photo_2 {
      
      width: 30%;
      height: 100%;
      position: relative;

      .title {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        top: 0;
        left: 0;

        span {
          margin-left: 15px;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 1px;
          color: var(--primary-color);
        }

      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px; /* высота градиента, можно настроить по вкусу */
        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        /* Здесь градиент начинается с прозрачного цвета и переходит в полупрозрачный черный,
           можно заменить на любые нужные вам цвета */
        pointer-events: none; /* чтобы псевдоэлемент не мешал взаимодействию с контентом */
      }
    }
  }

  @media (max-width: 1300px) {
    .box_2 {
      
    }
  }

  @media (max-width: 1000px) {
    

    .box_2 {
      
    }
  }

  @media (max-width: 767px) {
    overflow: scroll;
    height: auto;
    margin-bottom: 200px;

    .box_1 {
      flex-direction: column;

      .main {
        width: 100%;
        height: 250px;
      }

      .services {
        width: 100%;
      }
    }

    .box_2 {
      flex-direction: column;

      .photo_1,
      .about {
        width: 100%;
        height: 200px;
      }

      .photo_2{
        width: 100%;
        height: 300px;
        padding-top: 20px;
        margin-top: 30px;
        .title {
          height: 70px;
        }
      }

    }
  }
}

