.main {
    max-width: 1100px;
    padding: 0 30px;
    margin: 60px auto 200px auto;

    h1 {
        margin-bottom: 30px;
        text-align: center;
    }

    .what {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        background-color: #fdf3f0;
        overflow: hidden;
        margin-bottom: 50px;

        .text {
            width: 60%;
            padding: 40px;




            p {
                font-size: 22px;
                letter-spacing: 1px;
                line-height: 26px;
            }
        }

        .img {

            width: 40%;
            aspect-ratio: 1/1.4;
            background-image: url(../../../public/assets/career.webp);
            background-size: cover;
            background-position: center;


        }
    }


    @media (max-width: 900px) {
        .what {
            .text {
                padding: 30px;

                p {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }

    @media (max-width: 767px) {}
}