.header {
  height: 100px;
  display: flex;
  position: fixed;
  padding: 30px;
  z-index: 1000;

  .hamburger {
    align-self: flex-start;
    cursor: pointer;
  }

  .logo {
    margin: 0 auto;
    cursor: pointer;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    overflow: hidden;

    nav {
      position: absolute;
      width: 100vw;
      height: 100px;
      background-color: #fff;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
      z-index: 10;

      .close {
        margin: 0 20px;
        cursor: pointer;
      }

      .auth {
        cursor: pointer;
        margin-right: 20px;
      }

      ul {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;

        .header_item {
          text-decoration: none;
          color: #000;
          margin: 0;
          list-style-type: none;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 1.5px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;

          &:hover {
            color: var(--primary-color);
            &::after {
              width: 30px;
            }
          }

          &::after {
            content: "";
            display: block;
            width: 0px;
            height: 3px;
            background-color: var(--primary-color);
            transition: all 0.2s ease-in-out;
          }
        }

        .invisible {
          display: none;
        }
      }
    }
  }

  .overlayVisible {
    visibility: visible;
    opacity: 1;

    nav {
      transform: translateY(0);
    }
  }

  @media (max-width: 767px) {
    .overlay {
      nav {
        position: relative;
        height: 200px;

        .close {
          z-index: 10;
          align-self: flex-start;
          margin-top: 30px;
        }
        ul {
          flex-direction: column;
          position: absolute;
          height: 100%;
        }
      }
    }
  }
}
