.main {
    padding: 150px 0;
  .box {
    margin-bottom: 30px;

    .title {
      margin-bottom: 15px;
    }

    .subtitle {
      margin-top: 15px;
    }

    .sectionTitle {
      margin: 10px 0;
    }

    .address {
      margin: 10px 0;

      .sectionTitle {
        margin: 10px 0;
      }
    }
  }
}
