.form {
  padding: 30px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;

  .title {
    color: var(--primary-color)
  }

  .input_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    .description {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 25px;
      position: relative;
      display: flex;
      flex-direction: column;

      textarea {
        height: 100px;
        resize: none;
        padding: 15px 24px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        margin-top: 9px;
        border: 1px solid #cfcfcf;
        border-radius: 8px;

        &:focus {
          outline: 1px solid #d87d4a;
        }
      }
    }
  }

  .file_box {
    h3 {
      span {
        font-size: 12px;
      }
    }

    .file_upload {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #cfcfcf;
      padding: 6px 20px;
      cursor: pointer;
      height: 55px;
      border-radius: 5px;
      margin: 15px 0;

      .file {
        display: none;
      }

      &:hover {
        border: 1px solid #d87d4a;
      }
    }
  }

  .title {
    margin-bottom: 20px;
  }

  .check_box {
    display: flex;

    .check {
      width: 15px;
      margin-right: 10px;
    }
  }



  @media (max-width: 700px) {
    .input_box {
      flex-direction: column;
      width: 100%;

    }

    .submit_button {
      align-self: center;
      width: 100%;
    }

    .file_box {
      .file_upload {
        width: 100%;
      }
    }
  }
}