.form {
  margin-top: 50px;
  padding: 30px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  .input_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .radio_label {
      width: 49%;
      height: 56px;
      margin-bottom: 16px;
      display: flex;
      flex-direction: row-reverse;
      border: 1px solid #cfcfcf;
      border-radius: 8px;
      justify-content: flex-end;
      align-items: center;
      letter-spacing: 1px;

      .radio {
        margin: 0 20px 0 20px;
        border: 2px solid white;
        box-shadow: 0 0 0 1px #cfcfcf;
        appearance: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: #fff;
        transition: all ease-in 0.2s;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 0 1px #cd2c2c;
        }

        &:checked {
          background-color: #d87d4a;
        }
      }
    }

    label {
      position: relative;
      width: 49%;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: -0.2142857164144516px;
      margin-bottom: 25px;

      p {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.2142857164144516px;
        color: #cd2c2c;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      .input,
      textarea {
        font-size: 16px;
        margin-top: 9px;
        height: 55px;
        background-color: #fff;
        border: 1px solid #cfcfcf;
        border-radius: 8px;
        padding-left: 24px;

        &:focus {
          outline: 1px solid #d87d4a;
        }
      }

      .input_error {
        border: 2px solid #cd2c2c;
      }
    }

    

    .adress_input {
      width: 100%;
    }

    .description {
      width: 100%;
      margin-top: 20px;

      textarea {
        height: 100px;
        resize: none;
        padding: 15px;
      }
    }
  }

  .file_box {
    h3 {
      span {
        font-size: 12px;
      }
    }
    .file_upload {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #cfcfcf;
      padding: 6px 20px;
      cursor: pointer;
      height: 55px;
      border-radius: 5px;
      width: 49%;
      margin: 15px 0;
      .file {
        display: none;
      }

      &:hover {
        border: 1px solid #d87d4a;
      }
    }
  }
  .title {
    margin-bottom: 20px;
  }

  .check_box {
    display: flex;

    .check {
      width: 15px;
      margin-right: 10px;
    }
  }

  

  @media (max-width: 700px) {
    .input_box {
      flex-direction: column;
      width: 100%;

      label,
      .radio_label,
      .adress_input {
        width: 100%;
      }
    }

    .submit_button {
      align-self: center;
      width: 100%;
    }

    .file_box {
      .file_upload {
        width: 100%;
      }
    }
  }
}
